*{
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
body{
    margin: 0;
}
nav{
    position:fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #243246;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
nav a{
    display: inline-block;
    text-decoration: none;
    padding:5px 15px;
    font-size: 0.9em;
    font-weight: bold;
    color: #58B9D3;
    text-transform: uppercase ;
    letter-spacing:0.05em;
    
}

nav a:hover {
    color:#638DD4;
}

nav img{
    width:70%;
    display:block;
    margin-bottom: 35px;


}
@media  screen and (max-width: 700px) {
    nav{
        width: 100%;
        height: auto;
        position: relative;
    }
    nav a {
        float: left;
        margin-left: 0;
    }

}

@media screen and (max-width: 400px){
    nav a{
        text-align: center;
        float: none;
    }
    nav img{
        width: 100%;
        height: auto;
        position: relative;
    }
}

main{
    position: relative;
    left: 40px;
    font-weight: 700;
    font-size: 2.5em;
    color:#58B9D3;
    margin-inline-start: 300px;
    padding: 60px;
    display: inline-block;
  
}
body{
    background-color: #283950;
}
p{position: relative;
    bottom: 40px;
    left: 320px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 90;
    font-size: 1.1em;
    color:antiquewhite; 

}
